
<% if @pin.errors.any? %>
	<div class="alert alert-danger">
		<%= pluralize(@user.errors.count, "error") %> prevented Pin from saving!
	</div>
	<ul>
		<% @pin.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>